.usereditbody {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/940302/pexels-photo-940302.jpeg?cs=srgb&dl=black-pepper-bright-colors-940302.jpg&fm=jpg');
  background-size: cover !important;
  min-height: calc(100vh - 70px);
}
