#product-index .col-xs-12, #product-index .col-sm-4 {
  padding-top: 2%;
}

#product-index .col-xs-12:last-child, #product-index .col-sm-4:last-child  {
  padding-bottom: 2%;
}

#product-index .button_to {
  margin-bottom: 10px;
}
