<div class="usershowbody">
  <div class="container">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <% if current_user.avatar.nil? %>
        <%= cl_image_tag current_user.avatar, height: 400, width: 400, crop: :fill %>
      <%# elsif %>
        <%#= image_tag current_user.facebook_picture_url, class: "user-image" %>
      <% end %>
    </div>
  </div>
</div>
