<div class="usershowbody">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-1 ">
        <div class="profile-card">
          <% if current_user.avatar.present? %>
          <%= cl_image_tag current_user.avatar, height: 400, width: 400, crop: :fill, class: "user-image center-block"%>

          <% else %>
          <% avatar_url = current_user.facebook_picture_url || 'anon.png' %>
          <%= image_tag avatar_url, class: "user-image" %>
          <% end %>
          <h4 class="text-center"><%= current_user.first_name %> <%= current_user.last_name %></h4>
        </div>
        <div class="profile-card">
          <h2 class="text-center">My Restrictions</h2>
          <hr>
          <div class="restrictioncard">
            <div class="col restrictionicon">
              MILK
            </div>
            <div class="col restrictiontext">
              Lactose Intolerent
            </div>
          </div>
          <div class="restrictioncard">
            <div class="col restrictionicon">
              FISH
            </div>
            <div class="col restrictiontext">
              I can't eat fish
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-1 profile-card">
       <h2 class="text-center">My Review's</h2>
       <hr>
       <div class="reviewcard">
        <div class="reviewicon">5</div>
      </div>
      <div class="reviewcard">
        <div class="reviewicon">5</div>
      </div>
      <div class="reviewcard">
        <div class="reviewicon">5</div>
      </div>
      <br>
    </div>
  </div>
</div>
</div>
