<div class="footer">
  <div class="footer-links">
    <p>Ajuda</p>
  </div>
  <div class="footer-copyright">

    <p>
      <i class="fab fa-github"></i> <a href="https://github.com/anderchen">Anderchen</a> | <a href="https://github.com/Telles01">Telles01</a> | <a href="https://github.com/sbutori">Sbutori</a> | <a href="https://github.com/BlackPantera">BlackPantera</a>
    </p>

  </div>
</div>
