<div class="footer">
  <div class="footer-links">
    <p>Help</p>
    <p>About Us</p>
    <p>FAQ</p>
  </div>
  <div class="footer-copyright">

        <i class="fab fa-twitter fa-lg"></i>
        <i class="fab fa-instagram fa-lg"></i>
        <i class="fab fa-linkedin fa-lg"></i>

  </div>
</div>
