<div class="homecontainer animated fadeIn slow">
  <div class="banner">
    <h3 class="animated fadeIn">
      <span id="banner-typed-text"></span>
    </h3>
    <input class="animated bounceInDown slow" type="text" placeholder="Search for a product...">
    <p class="animated fadeIn delay-1s">POPULAR PRODUCTS</p>
    <%= link_to 'Mortadela', products_path, class: 'btn animated fadeIn delay-2s'  %>
    <%= link_to 'Palmito', products_path, class: 'btn animated fadeIn delay-2s'  %>
    <%= link_to 'Coca-Cola', products_path, class: 'btn animated fadeIn delay-2s'  %>
  </div>
</div>

