<div class="container-fluid homecontainer animated fadeIn slow">
  <div class="row banner">
    <h3 class="col-xs-12 animated fadeIn">
      <span id="banner-typed-text"></span>
    </h3>
<!--     <input class="animated bounceInDown slow" type="text" placeholder="Search for a product..."> -->
    <div>
      <%= form_tag products_path, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control animated bounceInDown slow",
            placeholder: "Quero procurar..." %>
      <% end %>
    </div>
    <p class="animated fadeIn delay-1s">Categorias</p>
    <% categories = ['Achocolatados',
                'Aveia',
                'Azeites, óleos e vinagres',
                'Bebidas',
                'Biscoitos',
                'Café e chá',
                'Carnes, aves e peixes',
                'Cereais',
                'Congelados e pratos prontos',
                'Conservas e enlatados',
                'Doces',
                'Farinhas',
                'Frutas',
                'Grãos',
                'Leite e derivados',
                'Massas',
                'Outros',
                'Ovos',
                'Pães, torradas e bolos',
                'Sorvete',
                'Temperos e Condimentos',
                'Verduras e legumes'] %>
    <div class="category">
      <% categories.sample(6).each do |category| %>
        <% if category.size < 20 %>
        <%= link_to category, {controller: "products", action: "index", query: category}, class: 'btn animated fadeIn delay-2s category-btn'  %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

