<div class="homecontainer animated fadeIn slow">
  <div class="banner">
    <h3 class="animated fadeIn">
      <span id="banner-typed-text"></span>
    </h3>
    <input class="animated bounceInDown slow" type="text" placeholder="Search for a product...">
    <p class="animated fadeIn delay-1s">POPULAR PRODUCTS</p>
    <a href="#" class="btn animated fadeIn delay-2s">Mortadela</a>
    <a href="#" class="btn animated fadeIn delay-3s">Palmito</a>
    <a href="#" class="btn animated fadeIn delay-4s">Coca-Cola</a>
  </div>
</div>
