<div class="homecontainer">
  <div class="banner">
    <input type="text" placeholder="Search for a product...">
    <p>POPULAR PRODUCTS</p>
    <a href="#" class="btn">Mortadela</a>
    <a href="#" class="btn">Palmito</a>
    <a href="#" class="btn">Coca-Cola</a>
  </div>
</div>
