.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 5px;
  color: white;
  text-align: center;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.footer-links p {
  color: white;
  opacity: 1;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
  font-family: 'EXO';
  font-weight: bold;
}
.footer-links p:hover {
  opacity: 0.2;
}
.footer .fa-heart {
  color: #D23333;
}

.footer p {
  color: #FF9090;
  size: 18px;
  font-family: 'EXO';
  font-weight: medium;
}

.footer ul li {
   display: inline-block;
}

.footer .fab {
  color: #FF9090;
  margin-right: 2vw;
}

.footer .fab:hover {
    opacity: 0.2;
}

.footer-copyright {

}
