<div class="loginbody">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 form-login">
        <h2>Adicionar produto</h2>
        <%= render 'new_form', product: @product %>
      </div>
    </div>
  </div>
</div>
